<%= form_with(model: [ @post, @post.comment.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= current_user.name %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
