<h2>Resend unlock instructions</h2>
<div class="row center"> <!-- here's not finished styles. -->
  <div class="col-md-6 col-md-offset-3 mx-auto">
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Resend unlock instructions" %>
      </div>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
