<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4 mx-auto jumbotron center height-aside-profile">
    <section class=""> <!--jumbotron center mx-auto === center mx-auto-->
      <h1 class="">
        <%= gravatar_for @user %>
        <br>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.posts.any? %>
      <h3 class="center">Posts (<%= @user.posts.count %>)</h3>
      <ol class="posts jumbotron">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>
