<h1>Editing post</h1>

<%= form_with(model: @post, local: true) do |form| %>
<div class="row center">
  <div class="col-md-6 col-md-offset-3 mx-auto">
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if current_user?(@post.user) %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title, class: 'form-control' %>
    </p>

    <p>
      <%= form.label :content %><br>
      <%= form.text_area :content, class: 'form-control' %>
    </p>

    <p>
      <%= form.label :image %><br>
      <%= form.file_field :image, class: 'form-control' %>
    </p>

    <p>
      <%= form.submit "Update Post", class: "btn btn-primary" %>
    </p>

    <%= link_to 'Back', post_path(@post) %>


  <% else %>
  <%= link_to 'Create new Post', root_path %>
  <% end %>
<% end %>
</div>
</div>
