<div class="">
  <strong>Author:</strong>
  <%= @post.user.name %>
</div>
<div class="">
  <strong>Title:</strong>
  <%= @post.title %>
</div>
<div class="">
  <strong>Content:</strong>
  <%= @post.content %>
</div>
<div class="">
  <strong>Image:</strong>
   <%= image_tag(@post.image_url) if @post.image? %>
</div>

<h2>Comments</h2>
<%= render @post.comment %>
<!-- <h2>Add a comment:</h2>
<%# <%= render 'comments/form' %> --> 
