<header class="navbar navbar-inverse fixed-top navbar-dark bg-dark"> <!-- navbar-inverse не работа, але може потом десь йому стилі бутуть -->
  <div class="container">
    <%= link_to "V Tanke", 'home', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <div class="d-flex"> <!-- це щоб лішки були в рядок, а не стовпчик -->
          <li class="paddlft"><%= link_to "Home",   'home' %></li>
          <li class="paddlft"><%= link_to "Help",   'help' %></li>
          <% if logged_in? %>
            <li><%= link_to "Users", '#' %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </div>
      </ul>
    </nav>
  </div>
</header>
